@{
    ViewData["Title"] = "Hem";
}

<h1>Hem</h1>

<p>
    Vi är ditt lokala expertteam inom hållbara energilösningar och miljövänlig teknik. 
    Vår mission är att erbjuda innovativa och kostnadseffektiva lösningar som hjälper 
    dig att minska din miljöpåverkan samtidigt som du sparar pengar. Utforska våra 
    tjänster och produkter, och se hur vi kan hjälpa dig att skapa en grönare framtid.
</p>